/* Reset de estilos básicos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #00A3FF;
}

.profile {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile__container {
    margin-top: 20px;
}

.profile__title {
    text-align: center;
    color: #333;
}

.profile__group {
    margin-bottom: 15px;
}

.profile__label {
    font-size: 14px;
    color: #666;
}

.profile__data {
    font-size: 16px;
    color: #333;
    display: block;
    margin-top: 5px;
}

.profile__edit, .profile__save {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.profile__edit {
    margin-right: 10px;
}

.profile__save {
    background-color: #2ecc71;
}

.profile__form {
    display: none;
}

.profile__form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.profile__form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Media Query para dispositivos pequeños */
@media (max-width: 768px) {
    .profile {
        margin: 20px;
    }
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}
div {
    text-align: center;
}